@charset "UTF-8";



html,body,div,p,a,h1,h2,h3,ul,li{margin:0 auto; padding:0; font-family:"宋体"; font-size:12px; color:#000;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
a:active,a:visited{text-decoration:none;}
li{list-style:none;}

.clearfix:after{content: "020"; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {
  /* 触发 hasLayout */ 
  zoom: 1; 
  }
.left{float:left;}
.right{float:right;}
.clear_right{clear:right;}
.clear_left{clear:left;}
.w1000{width:1000px;}
.w770{width:770px;}
.w720{width:720px;}
.w490{ width:490px;}
.w260{width:260px;}
.w210{width:210px;}
.t5{margin-top:5px;}
.t10{margin-top:10px;}
.t20{margin-top:20px;}
.l20{margin-left:20px;}
.r15{margin-right:15px;}
.box{display:block;}

.span_title{display:block; float:left; clear:right;}

.logo img{float:left;border:0;}
.logo p{float:right; margin:10px 0 0 0;}

.nav{background:#003f98; height:32px;}
.nav ul{overflow:hidden; height:32px; overflow:hidden;}
.nav ul li{line-height:32px; float:left; margin:0 15px 0 30px;}
.nav a{color:#FFF; font-size:14px; font-family:"微软雅黑";}
.nav .black000{background:#000; height:32px;}
.nav1{ background:#e9e9e9; height:32px;}
.nav1 ul{ width:1000px; margin:0 auto;}
.nav1 ul li{line-height:32px; float:left;}
.nav1 .block1{ width:31px; background-image:url(../images/img/nav_icon.jpg); background-position:left; background-repeat:no-repeat;}
.nav1 a{margin:0 10px 0 10px;}

.title_blue{background:url(../images/img/zwgktitle_bg.jpg) right no-repeat #003f98; height:30px; line-height:30px; color:#FFF; font:"宋体"; font-size:14px; font-weight:bold; padding-left:15px;}

.list_zwgk li{ height:34px; line-height:34px; background:url(../images/img/zwgktitle_libgimg.jpg); padding-left:15px;}
.list_xxgk li{ height:34px; line-height:34px; background:url(../images/img/xxgktitle_libgimg.jpg); padding-left:15px;}

.news{width:140px; float:left;}
.news li{width:56px; float:left; text-align:center; margin-top:38px; margin-right:12px;}
.news li img{margin-bottom:12px;}
.news_img{ border:#8a8a8a 1px solid;}
.newslist{height:34px;width:230px;}
.newslist a{line-height:34px;}
.newslist .height10{height:10px;}
.newslist .height30{ height:30px;}
.newslist .height30 a{line-height:30px; color:#F00; font-weight:bold; font-size:14px;}

.scroll_img{width:348px;height:232px;overflow: hidden;}

.notice{ background-color:#f3f3f3;}
.notice li{height:34px;}
.notice .title{height:28px; line-height:29px; color:#003f98; font-size:14px; font-weight:bold; border:1px solid #d6d6d6; padding-left:15px;}
.notice .more{float:right; margin-right:10px; font-weight:normal;}
.notice .list{border-left:1px solid #d6d6d6; border-right:1px solid #d6d6d6;}
.notice .list a{ line-height:34px; padding-left:15px;}
.notice .black{height:8px; border-top:1px solid #d6d6d6; border-left:1px solid #d6d6d6; border-right:1px solid #d6d6d6; background-color:#FFF;}
.notice .last{border-left:1px solid #d6d6d6; border-right:1px solid #d6d6d6; border-bottom:1px solid #d6d6d6;}
.notice .last a{ line-height:34px; padding-left:15px;}
.notice .last1{height:33px;}

.pre_sale_title{background:url(../images/img/zwgktitle_bg.jpg) right no-repeat #003f98; height:30px; line-height:30px; color:#003f98; font:"宋体"; font-size:14px; font-weight:bold; padding-left:15px;}
.pre_sale_title  li .a1{display:block;width:120px; text-align:center; float:left;color:#FFF; height:25px; margin-top:5px; line-height:25px;text-decoration:none;}
.pre_sale_title  li .a1:hover{background-color:#FFF;width:120px;height:25px;color:#003F98;}
.pre_sale_title  li .a2{display:block;width:120px; text-align:center; float:left;color:#FFF; height:25px; margin-top:5px; line-height:25px;text-decoration:none;}
.pre_sale_title  li .a2:hover{background-color:#FFF;width:120px;height:25px;color:#003F98;}
.pre_sale_title .more{ line-height:30px; color:#FFF; float:right; margin-right:20px; font-weight:normal;}


.pre_sale li{height:33px; line-height:33px; border-bottom:1px dashed #CCC;}
.pre_sale li .span1{ font-style:italic; margin-left:30px; display:block; float:left; width:50px; overflow:hidden;}
.pre_sale li .span2{ margin-left:30px; display:block; float:left; width:100px; overflow:hidden;}
.pre_sale li .span3{ display:block; float:left; margin-left:30px; width:350px; overflow:hidden;}
.pre_sale li .span4{ float:right; margin-right:20px; display:block;}

.service_title{ border-left:1px solid #dcdcdc; border-right:1px solid #dcdcdc; background-image:url(../images/img/service.jpg); height:43px; line-height:41px; font-size:14px; font-weight:bold; width:998px;}
.service_title img{ float:left; margin:0 15px 0 15px;}
.service_title a{float:right; display:block; line-height:41px; font-weight:normal; margin-right:15px;}
.service_title ul{float:right; margin-right:20px;}
.service_title ul li{float:left;}
.service_title ul .li1{ width:60px;}
.service_title ul .li2{ width:70px;}
.service_title ul li a{margin:0 5px 0 5px;}

.service li{ float:left; margin-right:20px; width:235px; background-color:#bbebff; height:30px; line-height:30px; margin-bottom:10px;}
.service .mar0{margin-right:0px;}
.service .bott0{margin-bottom:0px;}
.service li a{margin-left:10px;}

.laws li{float:left; width:490px; height:30px; line-height:30px; background-color:#f8e9bd; margin-bottom:10px;}
.laws .li1{ margin-right:20px;}
.laws .li2{margin-bottom:0px;}
.laws a{margin-left:15px;}

.price_title{ height:31px; line-height:31px; background-image:url(../images/img/price_bg.jpg); border-left:1px solid #d4d4d4; border-right:1px solid #d4d4d4; font-size:14px; font-weight:bold; padding-left:15px;}
.price_title .p1_on{background-image:url(../images/img/price_bg1.jpg); width:37px; font-family:"微软雅黑"; font-size:14px; font-weight:bold; color:#F00; height:31px; display:block; text-align:center; float:right; margin-right:10px;}
.price_title .p1_out{ width:37px; font-family:"微软雅黑"; font-size:14px; font-weight:bold; color:#F00; height:31px; display:block; text-align:center; float:right; margin-right:10px;}
.price_title .p2_on{background-image:url(../images/img/price_bg1.jpg); width:37px; font-family:"微软雅黑"; font-size:14px; font-weight:bold; color: #060; height:31px; display:block; text-align:center; float:right; margin-right:10px;}
.price_title .p2_out{ width:37px; font-family:"微软雅黑"; font-size:14px; font-weight:bold; color: #060; height:31px; display:block; text-align:center; float:right; margin-right:10px;}

.price li{border-left:1px solid #d4d4d4; border-right:1px solid #d4d4d4; line-height:30px; height:29px; border-bottom:1px dashed #f8e5c1;}
.price .li1{ background-color:#f8e5c1; border-bottom:none;}
.price .li2{border-bottom:1px solid #d4d4d4;}
.price .price_1{ margin-left:15px; width:80px; display:block; float:left;}
.price .price_2{ width:55px; display:block; float:left;}
.price .price_3{ width:150px; display:block; float:right; margin-right:15px;}

.price_left li{border-left:1px solid #d4d4d4; border-right:1px solid #d4d4d4; line-height:30px; height:29px; border-bottom:1px dashed #f8e5c1;}
.price_left .li1{ background-color:#f8e5c1; border-bottom:none;}
.price_left .li2{border-bottom:1px solid #d4d4d4;}
.price_left .price_1{ margin-left:15px; width:80px; display:block; float:left;}
.price_left .price_2{ width:55px; display:block; float:left;}
.price_left .price_3{ width:40px; display:block; float:right; margin-right:15px;}


.company_title{height:62px; border-bottom:2px solid #003f98; background-image:url(../images/img/company_titlebg.jpg); background-position:top; background-repeat:repeat-x; border-left:1px solid #dcdcdc; border-right:1px solid #dcdcdc; width:998px;}
.company_title p{font-size:14px; font-weight:bold; line-height:30px; margin-left:15px;}
.company_title ul{margin-left:10px; margin-top:5px;}
.company_title ul li{float:left;}
.company_title ul li a{margin:0 5px 0 5px;}
.company_title .more{ float:right; margin-right:15px;}
.company{border-left:1px solid #dcdcdc; border-right:1px solid #dcdcdc; background-color:#f3f3f3;}
.company li{ height:34px; line-height:34px;}
.company li a{float:left;}
.company .li1{border-bottom:1px solid #dcdcdc; height:33px; line-height:33px;}
.company li .text1{ width:250px; margin-left:15px; overflow:hidden; display:block;}
.company li .text2{width:320px; overflow:hidden; display:block;}
.company li .text3{width:150px; overflow:hidden; display:block;}
.company li .text4{ float:right; overflow:hidden; display:block; margin-right:15px;}

.saledata_title{border-bottom:2px solid #cc8600; height:28px;}
.saledata_title li{ height:28px;}
.saledata_title li a{height:28px; line-height:28px; padding:0 15px 0 15px; font-weight:bold; text-decoration:none; font-size:14px;}
.saledata_title li .over{background-color:#f8e5c1;}
.saledata_title li .out{background-color:#fff; font-weight:normal;}
.saledata_title .explain{color:#cc8600; font-size:14px; font-weight:bold;}

.saledata a,.saledata span{ display:block; float:left;}
.saledata li{height:30px; line-height:30px;}
.saledata .title{color:#cc8600;}
.saledata .bg{background-color:#f8e5c1;}
.saledata .data_w{margin-left:15px; width:80px;}
.saledata .data_w1{margin-left:15px; width:80px;}
.saledata .data_w2{width:55px;}
.saledata .data_w6{width:150px; float:right; margin-right:15px;}

.cr{ background-color:#e9e9e9;}
.cr p{text-align:center; line-height:24px; padding:20px;}
.cr p span{ font-family:"微软雅黑";}

.detail_title{height:62px; border-bottom:2px solid #003f98; background-image:url(../images/img/company_titlebg.jpg); background-position:top; background-repeat:repeat-x; border-left:1px solid #dcdcdc; border-right:1px solid #dcdcdc;}
.detail_title p{font-size:14px; font-weight:bold; line-height:60px; margin-left:15px;}

.detail{
	word-wrap: all; 
	overflow:hidden; 
	border-right:#C1C1C1 1px solid;
	border-left:#C1C1C1 1px solid; 
	border-bottom:#C1C1C1 1px solid; 
	width:700px;
	padding:34px;}
.detail p{ line-height:24px;}


.listpage a,.listpage span{ display:block; float:left;}
.listpage li{height:30px; line-height:30px;}
.listpage .title{color:#cc8600;}
.listpage .bg{background-color:#f8e5c1;}
.listpage .data_w{margin-left:15px; width:140px; display:block; float:left;}
.listpage .data_w1{margin-left:15px; width:140px;}
.listpage .data_w2{width:80px;}
.listpage .data_w6{width:200px; float:right; margin-right:15px;}

.page_navi{position:relative; float:left; left:50%; top:20px;}
#pagenum{ position:relative; float:left; left:-50%;}
#pagenum a,#pagenum span{ list-style:none; float:left; line-height:30px; margin-right:6px; font-family:"微软雅黑"; font-size:14px;}
#pagenum a,#pagenum span{ border:1px #ccc solid; height:30px; line-height:30px; display:block; padding:0 8px 0 8px; font-family:"微软雅黑"; font-size:14px;}
#pagenum a:hover{background-color:#F0F0F0;}
#pagenum li input{ border:1px #ccc solid; height:30px; line-height:30px; width:35px;}

.detail1{ overflow:hidden; border-right:#C1C1C1 1px solid;  border-left:#C1C1C1 1px solid;  border-bottom:#C1C1C1 1px solid; width:768px; height:800px;}


.listnews a,.listnews span{ display:block; float:left;}
.listnews li{height:30px; line-height:30px; padding-left:24px;}
.listnews .title{color:#cc8600;}
.listnews .bg{background-color:#f8e5c1;}
.listnews .data_w{margin-left:15px; width:140px; display:block; float:left;}
.listnews .data_w6{width:100px; float:right; margin-right:15px;}

.company_table{width:100%; border-collapse:collapse;}

.presale_table{ line-height:21px; width:100%; border-collapse:collapse;}